a {
    color: grey;
    font-family: Verdana;
    margin: auto;
}

.button {
    padding: 25px 47px;
    display: inline-block;
    height: auto%;
    width: auto%;
}

a:hover {
    color: purple;
}

h1 {
    background:#D0E3CC;
    font-family: Verdana, Tahoma, sans-serif;
    color: black;
    text-align: center;
    margin: 0px;
}

.navbar {
    background-color:#F7FFDD;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
